
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          routerLink="/login"
        >
          Se connecter
        </button>

        <button
          class="btn btn-lg btn-primary pull-xs-right"
          type="submit"
          routerLink="/register"
        >
          S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>
