.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}

.carousel-wrapper{
  height:100px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}

.light{
  color:white;
}

@media (max-width: 480px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url('https://i.ytimg.com/vi/9364lxoXkx8/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGGUgZShlMA8=&rs=AOn4CLApS25bWv6n39pujsvQppPyL3QwhQ');
  background-size:cover;
}
.item-2{
  background:url('https://powertofly.com/up/media-library/distracted-boyfriend-sexist-boss-meme-your-idea-repeated-by-a-guy-your-boss-you-when-you-said-your-idea.jpg?id=20568445&width=744&quality=90');
  background-size:cover;
}
.item-3{
  background:url('https://cdn.vox-cdn.com/thumbor/56kmAxOk_6ZOuUVRilR9dwb1Xf8=/0x0:735x500/1400x1400/filters:focal(368x250:369x251)/cdn.vox-cdn.com/uploads/chorus_asset/file/19933026/image.png');
  background-size:cover;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

