/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Egyptian';
  src: url('./assets/egyptian.otf'); /* Assurez-vous de spécifier le bon chemin vers votre fichier de police */
  font-weight: normal;
  font-style: normal;
}

body  {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqLxtqXNPwlh3HwJROiHQoIBRzZsEPc8437g&usqp=CAU');
  background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  font-family: "Egyptian";

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}

}
