<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Article Title"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                formControlName="description"
                type="text"
                placeholder="What's this article about?"
              />
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Write your article (in markdown)"
              >
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()"
              />
              <div class="tag-list">
                <span *ngFor="let tag of tagList" class="tag-default tag-pill">
                  <img src="assets/close.jpeg" style="width: 20px; height: 20px"  (click)="removeTag(tag)"/> 
                  <!-- <i class="ion-close-round" (click)="removeTag(tag)"></i> -->
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <button
              class="btn btn-lg pull-xs-right btn-primary"
              type="button"
              *ngIf="!isVerify"
              (click)="isVerify = !isVerify"
            >
              Vous êtes vraiment suurrrr de publier l'article ?
            </button>
            <p *ngIf="isVerify && !isVerify2"  >Click sur l'escargot dans 5 seconds</p>
            <div *ngIf="isVerify && !isVerify2" (click)="isVerify2 =!isVerify2" class="loading">
              <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!sw800" />
            </div>
            <button
              class="btn btn-lg pull-xs-right btn-primary"
              type="button"
              *ngIf="isVerify && isVerify2"
              (click)="submitForm()"
            >
              Publier Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
